<section class="login-container">
  <div class="login-box">
    <div class="left-section">
      <img src="assets/logo_principal.png" alt="Bet Sniper Logo" class="logo-img" />
      <p class="copyright">2025 all rights reserved.</p>
    </div>

    <div class="divider"></div>

    <div class="right-section">
      <h2 class="title">{{ "FORGOT_PASSWORD.RECOVER_NEW" | translate }}</h2>
      <!-- <p class="subtitle">Escribe tu correo para resetear tu password</p> -->

      <form [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
        <div class="form-group password-wrapper">
          <div class="input-wrapper">
            <input
              type="text"
              formControlName="newPassword"
              placeholder="{{ 'FORGOT_PASSWORD.WRITE_NEW_PASS' | translate }}"
            />
            <span class="password-icon">✉️</span>
          </div>
        </div>

        <div class="auth-actions mb-4">
          <div class="buttons">
            <button type="submit" class="btn-login">
              {{ "FORGOT_PASSWORD.RECOVER_LINK" | translate }}
            </button>
          </div>
        </div>

        <div class="buttons">
          <button routerLink="/" type="submit" class="btn-back-to-login">
            {{ "FORGOT_PASSWORD.BACK_TO_LOGIN" | translate }}
          </button>
          <button
            type="button"
            class="btn-back-to-login"
            routerLink="/auth/register"
          >
            {{ "FORGOT_PASSWORD.CREATE_ACCOUNT" | translate }}
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
