<section class="notifications-zone glass-panel mt-5">
  <h3 class="zone-title">
    {{ "DASHBOARD.NOTIFICATIONS.LAST_NOTIFICATIONS" | translate }}
  </h3>

  <div class="notification-item">
    <i class="fa-regular fa-circle-check icon-check"></i>
    <div class="notif-content">
      <h4>
        ESTO ES UN TITULO DE EJEMPLO: ACTUALIZACIÓN DEL SISTEMA BET SNIPER
      </h4>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed diam
        nonummy nibh euismod tincidunt.
      </p>
    </div>
    <div class="divider"></div>
    <span class="date">Publicado<br />11/15/2025</span>
  </div>

  <div class="notification-item">
    <i class="fa-regular fa-circle-check icon-check"></i>
    <div class="notif-content">
      <h4>MANTENIMIENTO PROGRAMADO DEL SERVIDOR</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
    </div>
    <div class="divider"></div>
    <span class="date">Publicado<br />11/10/2025</span>
  </div>
</section>
